.post{
	margin-bottom: 3rem;
    padding: 2.5rem;
	border-radius: 5px;
	overflow: hidden;

	background-color: $primary;
	box-shadow: 0 15px 25px
    rgba($black, 35%);
}

.post_header{
	margin: 0 0 2.5rem;

	&--preview{
		margin: -2.5rem -2.5rem 2.5rem;
		box-shadow: 0 10px 5px
		rgba($black, 25%);
	}

}

.post_header post_header--preview{
	border-bottom: 1px solid #1C1C1C;
}

.post_preview{
	display: block;
	max-width: 100%;
	height: auto;
}

.post_content{
	margin-bottom: 2rem;
}

.post_title{
	color: $white;
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
	a{
		color: inherit;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}
	&--margin0{
		margin-bottom: 0;
	}
}

.post_text_description{
	font-size: 1.4rem;
	color: 	#D2D2D2;
}


.post_text{
	padding: 0 0 1.5rem 0;
	border-bottom: 2px solid #1C1C1C;

	font-size: 1.4rem;
	color: $white;

    a{
		color: $blu;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}

	p{
		margin-bottom: 2rem;
	}
	ul,ol{
		margin-bottom: 2rem;

	}
	ol{
		list-style: decimal;
		list-style-position: inside;
	}

	table{
		margin-bottom: 2rem;
		width: 100%;

	}

	h1,h2,h3,h4,h5,h6{
		margin-bottom: 2em;
		font-weight: 700;
	}

	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1.25em;
	}
	h4{
		font-size: 1.15em;
	}
	h5,h6{
		font-size: 1em;
	}
	img{
		display: block;max-width: 100%;
		height: auto;
	}

}

.post_footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.post_data{
		display: flex;


		color: #828282;
		line-height: 1.2rem;
		font-size: 1.2rem;

		a{
			color: inherit;
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}
		}
	}



	.post_data_item{
		&:not(:last-child):after{
			position: relative;
			content: "";
			display: inline-block;
			width: 6px;
			height: 6px;
			margin: 0 1.5rem;
			top:-1.5px;

			border-radius: 50%;
			background-color: #C4C4C4;;
		}
	}

	.post_read{
		font-size: 1.4rem;
		color: #107EFF;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}

	}
	.post_actions{
		margin-bottom: 1.5rem;
		display: flex;
		justify-content: space-between;

		font-size: 1.2rem;
		color: $white;

		a{
			text-decoration: none;
			color: inherit;

			opacity: 0.6;
			transition: .2s linear;

			&:hover{
				text-decoration: underline;
				opacity: 1;
			}
		}

	}
