
<div class="stories">
	<div class="stories_item">
		<img class="stories_preview" src="/img/one.png" alt="">
		<div class="stories_title">Відпочиваю на природі</div>
		<time class="stories_date" datetime="2024-09-21 19:22">21.09.2024
		</time>
	</div>
	<div class="stories_item">
		<img class="stories_preview" src="/img/two.jpg" alt="">
		<div class="stories_title">Закінчую важкий проєкт</div>
		<time class="stories_date" datetime="2024-09-21 19:22">21.09.2024
		</time>
	</div>
	<div class="stories_item">
		<img class="stories_preview" src="/img/three.png" alt="">
		<div class="stories_title">Відпочинок</div>
		<time class="stories_date" datetime="2024-09-21 19:22">21.09.2024
		</time>
	</div>

	<div class="stories_item">
		<img class="stories_preview" src="/img/four.jpg" alt="">
		<div class="stories_title">Осінь прийшла</div>
		<time class="stories_date" datetime="2024-09-21 19:22">21.09.2024
		</time>
	</div>
</div>

<!<<<<<<<<<<>
<div class="add_post">
	<form class="add_post_form" action="/" method="post">
		<textarea class="add_post_textarea	" name="photo_text" placeholder="Напишіть щось"></textarea>

		<div class="add_post_form_actions">
			<label  class="add_post_file" for="add_post_file">
				<input type="file" id="add_post_file">

			</label>
			<button class="add_post_send" type="submit">
				<span class="icon-arrow"></span>
			</button>
		</div>


	</form>
</div>
<!<<<<<<<<<<>

<div class="post">

	<div class="post_content">
		<p class="post_text_description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
		</p>
	</div>

	<div class="post_footer">
		<ul class="post_data">
			<li class="post_data_item">
				<time datetime="2024-06-21 19:33">21.06.2024</time>
			</li>
		</ul>
	</div>
</div>
<!end_Post<<<<<<>

<article class="post">

	<div class="post_header post_header--preview">
		<a href="post.html">
			<img class="post_preview" src="/img/Post_2.jpg" alt="Як писати код швидко та безболісно?">
		</a>
	</div>

	<div class="post_content">
		<h2 class="post_title">
			<a href="post.html">Як писати код швидко та безболісно?</a>
		</h2>
		<p class="post_text_description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
		</p>
	</div>

	<div class="post_footer">
		<ul class="post_data">
			<li class="post_data_item">
				<time datetime="2024-06-21 19:33">21.06.2024</time>
			</li>
			<li class="post_data_item">
				<a href="#">створення сайтів</a>
			</li>
		</ul>

		<a class="post_read" href="post.html">читати</a>

	</div>
</article>

<!end_Post<<<<<<>

<article class="post">

	<div class="post_header ">
		<div class="embed">
			<iframe src="https://www.youtube.com/embed/CvEttNvty0U"
					frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
		</div>
	</div>

	<div class="post_content">
		<h2 class="post_title">
			<a href="post.html">Придбав новий ноутбук за 150 тисяч</a>
		</h2>

	</div>

	<div class="post_footer">
		<ul class="post_data">
			<li class="post_data_item">
				<time datetime="2024-06-21 19:33">20.06.2024</time>
			</li>
			<li class="post_data_item">
				<a href="#">просування відео</a>
			</li>
		</ul>

		<a class="post_read" href="#">залишити коментар</a>

	</div>
</article>

<!end_Post<<<<<<>

<article class="post">

	<div class="post_header post_header--preview">
		<a href="post.html">
			<img class="post_preview" src="/img/Post_4.jpg" alt="Як я сходив на FrontEnd Conf 2023">
		</a>
	</div>

	<div class="post_content">
		<h2 class="post_title">
			<a href="post.html">Як я сходив на FrontEnd Conf 2023</a>
		</h2>
		<p class="post_text_description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
		</p>
	</div>

	<div class="post_footer">
		<ul class="post_data">
			<li class="post_data_item">
				<time datetime="2024-06-21 19:33">21.06.2024</time>
			</li>
			<li class="post_data_item">
				<a href="#">створення сайтів</a>
			</li>
		</ul>

		<a class="post_read" href="post.html">читати</a>

	</div>
</article>

<!end_Post<<<<<<>

<ul class="pagination">
	<li class="pagination_item">
		<a class="pagination_link" href="#">
			&lt;
		</a>
	</li>
	<li class="pagination_item">
		<a class="pagination_link" href="#">1</a>
	</li>
	<li class="pagination_item">
		<a class="pagination_link active"  href="#">2</a>
	</li>
	<li class="pagination_item">
		<a class="pagination_link" href="#">3</a>
	</li>
	<li class="pagination_item">
		<a class="pagination_link" href="#">&gt;</a>
	</li>
</ul>
