<aside class="sidebar">
	<div class="sidebar-header">
<img src="/img/img.png" alt="">
	</div>

	<div class="sidebar-content">
<div class="profile">
	<img class="profile_avatar" src="/img/Ellipse.jpg" alt="">
	<div class="profile_name">
		Захарченко Наазар
	</div>
	<div class="profile_prof">
		Блог розробника
	</div>
	
	<ul class="social">
		<il class="social_item">
			<a class="social_link" href="#" target="_blank">
				<img src="/img/instagram.svg" alt="instagram">
			</a>
		</il>
		<il class="social_item">
		<a class="social_link" href="#" target="_blank">
			<img src="/img/pinterest.svg" alt="instagram">
		</a>
	</il>

		<il class="social_item">
			<a class="social_link" href="#" target="_blank">
				<img src="/img/vk 1.svg" alt="instagram">
			</a>
		</il>
	</ul>
	<div class="profile_text">
		Front-end разработчик. Практик верстки сайтов.
		Созданием сайтов занимаюсь с 2012 года.
		Работал в нескольких ИТ компаниях и наработал более 10 000 часов в создании сайтов различной сложности.
	</div>



</div>
	</div>


	<div class="sidebar-footer">
		<button class="btn btn-red" type="button">Мої роботи</button>
		<button class="btn btn-blu" type="button">Написати мені</button>
	</div>

</aside>
